@font-face {
  font-family: "main";
  src: url(resources/Gaegu-Regular.ttf);
}

@font-face {
  font-family: "main";
  font-weight: bold;
  src: url(resources/Gaegu-Bold.ttf);
}

@font-face {
  font-family: "main";
  font-weight: lighter;
  src: url(resources/Gaegu-Light.ttf);
}

* {
 font-family: "main";
}

body {
  background-image: url("resources/bg.png");
  background-size: 128px;
  animation: shift 10s linear;
  animation-iteration-count: infinite;
  margin: 0px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

h1, #credit {
  text-align: center;
  background-color: white;
  border: 3px solid black;
  border-radius: 20px;
  padding: 10px;
  flex: 0 0 auto;
}

p {
  font-size: 18px;
}

#wrapper {
  margin: 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#gameWindow {
  background-color: snow;
  width: 600px;
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  border: 3px solid black;
  border-radius: 20px;
}

#move {
  padding-bottom: 10px;
}

#results, #score {
  background-color:white;
  width: 250px;
  padding: 10px;
  border: 3px solid black;
  border-radius: 20px;
}

#buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

#buttons button {
  background-color: white;
  font-size: 20px;
  border: 3px solid black;
  border-radius: 20px;
  cursor: pointer;
  padding: 10px;
  flex: 1 0 33%;
  max-width: 33%;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rockIcon {
  filter: hue-rotate(160deg);
}

.scissorsIcon {
  filter: hue-rotate(-60deg);
}

#buttons img {
  width: 64px;
  order: -1;
}

#results img {
  width: 18px;
}

.rockTxt {
  color: teal;
  font-weight: bold;
}

.paperTxt {
  color: goldenrod;
  font-weight: bold;
}

.scissorsTxt {
  color: tomato;
  font-weight: bold;
}

#retry {
  background-color: white;
  color: black;
  border: 2px solid black;
  font-size: 20px;
  border-radius: 20px;
  cursor: pointer;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin: auto;
  font-weight: bold;
}

#retryImg {
  width: 32px;
  order: -1;
}

@keyframes shift {
  from {
    background-position: 0px 0px;
    backdrop-filter: hue-rotate(0deg)
  }
  to {
    background-position: 128px 128px;
    backdrop-filter: hue-rotate(360deg);
  }
}